@font-face {
	font-family: "LINE Seed Sans TH";
	src:
		url("./fonts/LINE_Seed_Sans_TH/Web/WOFF2/LINESeedSansTH_W_Th.woff2") format("woff2"),
		url("./fonts/LINE_Seed_Sans_TH/Web/WOFF/LINESeedSansTH_W_Th.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "LINE Seed Sans TH";
	src:
		url("./fonts/LINE_Seed_Sans_TH/Web/WOFF2/LINESeedSansTH_W_Rg.woff2") format("woff2"),
		url("./fonts/LINE_Seed_Sans_TH/Web/WOFF/LINESeedSansTH_W_Rg.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "LINE Seed Sans TH";
	src:
		url("./fonts/LINE_Seed_Sans_TH/Web/WOFF2/LINESeedSansTH_W_Bd.woff2") format("woff2"),
		url("./fonts/LINE_Seed_Sans_TH/Web/WOFF/LINESeedSansTH_W_Bd.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "LINE Seed Sans TH";
	src:
		url("./fonts/LINE_Seed_Sans_TH/Web/WOFF2/LINESeedSansTH_W_XBd.woff2") format("woff2"),
		url("./fonts/LINE_Seed_Sans_TH/Web/WOFF/LINESeedSansTH_W_XBd.woff") format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "LINE Seed Sans TH";
	src:
		url("./fonts/LINE_Seed_Sans_TH/Web/WOFF2/LINESeedSansTH_W_He.woff2") format("woff2"),
		url("./fonts/LINE_Seed_Sans_TH/Web/WOFF/LINESeedSansTH_W_He.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
