@font-face {
	font-family: "LINE Seed Sans TH";
	src: url("./fonts/LINE_Seed_Sans_TH/Web/WOFF2/LINESeedSansTH_W_Rg.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "LINE Seed Sans TH";
	src: url("./fonts/LINE_Seed_Sans_TH/Web/WOFF2/LINESeedSansTH_W_Bd.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "LINE Seed Sans TH";
	src: url("./fonts/LINE_Seed_Sans_TH/Web/WOFF2/LINESeedSansTH_W_Bd.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: optional;
}
