@import "../styles/globals.css";
@import "./fonts.css";

@layer base {
	:root {
		@apply font-sans;
		font-family: "LINE Seed Sans TH", sans-serif !important;
	}

	* {
		font-family: "LINE Seed Sans TH", sans-serif !important;
	}

	body {
		@apply text-foreground relative m-0 min-h-screen min-w-[320px];
		font-family: "LINE Seed Sans TH", sans-serif !important;
		font-optical-sizing: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeSpeed;
	}
}

@keyframes blob {
	0% {
		transform: translate(0px, 0px) scale(1);
	}
	33% {
		transform: translate(30px, -50px) scale(1.1);
	}
	66% {
		transform: translate(-20px, 20px) scale(0.9);
	}
	100% {
		transform: translate(0px, 0px) scale(1);
	}
}

@keyframes float {
	0%,
	100% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
}

@keyframes slide {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 256px 224px;
	}
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.animate-blob {
	animation: blob 7s infinite;
}

.animate-float {
	animation: float 3s ease-in-out infinite;
}

.animation-delay-2000 {
	animation-delay: 2s;
}

.animation-delay-4000 {
	animation-delay: 4s;
}

* {
	transition-property: background-color, border-color, color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	font-family: "LINE Seed Sans TH", sans-serif !important;
}

.font-display-optional {
	font-display: optional;
}

@supports (font-display: optional) {
	* {
		font-display: swap;
		font-family: "LINE Seed Sans TH", sans-serif !important;
	}
}

.font-sans {
	font-family: "LINE Seed Sans TH", sans-serif !important;
}

.font-mono,
.font-serif,
.font-display {
	font-family: "LINE Seed Sans TH", sans-serif !important;
}

.disable-transitions * {
	transition: none !important;
}

.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

@media (prefers-reduced-motion) {
	*,
	::before,
	::after {
		animation: none !important;
	}
}
